 

#navBut ,#darkMode {
    z-index: 10;
    top: 1rem;
    left: 2%;
    position: fixed;
    display: block;
    padding: 0.3rem 0.5rem;
    background:#fafafa ;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.6rem;
}

 /* The side navigation menu */
 #navbar {
    height:1000%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fafafa; /* white*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 5rem; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  /* The navigation menu links */
  #navbar a {
    padding:0.2rem;
    text-decoration: none;
    font-size: 1.3rem;
    display: block;
    list-style: none;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  #navbar a:hover {
    color: #74bbf1;
  }

  #navBarList { 
    list-style: none;
    font-size: 1.3rem;

  }


  /* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  display: inline-block;
  margin-right: 6px;
}

.caret:hover {
  color: #74bbf1;
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #body {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 

#darkMode { 
  left: 5rem;
}
